.simu {
    background-color: #eeecec;
    color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding-top: 20px;
}

.simu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40rem;
}

.panel-btn {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

.bkill {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.bready {
    background-color: #395b8b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.bnew {
    background-color: #167e16;

    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.bstop {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.bkill:hover {
    background-color: #df1717;
}

.bready:hover {
    background-color: #2f4f77;
}

.bnew:hover {
    background-color: #0f6b0f;
}

.bstop:hover {
    background-color: #e68a00;
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}